@model MvcPracownik.Models.Student_Zajecia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student_Zajecia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zajecia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zajecia.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.student.Nazwisko)
            @Html.DisplayFor(model => model.student.Imie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Student_Zajecia_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
